* {
  display:block;

  }

.navbar {
  width: auto;
  margin: 0 auto;

}
.logo{
  float: left;
  padding: 40px 0;
}

.links {
  float: right;

}

header > div {
  background-color: #fffbfe ;
  height: 100px;
  padding:5px 2px 5px 5px;
  display:flex;
  justify-content:space-between;
 
}

header > div> img {
  float: left;
  display: block;
  padding: 60px 0;
  width: 20%;
  height: 40%;
}

.links ul{
  padding: 30px;
  list-style-type: none;
  margin: 0px;
  
}

.links li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  position: relative;
}
a {
  color: #565254;
  text-decoration: none;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

  .navbar a:hover {
    background-color: #565254;

  }

  
.container {
  padding: 0px;

}

.container img {
  width: 100%;
  height: 300px;
  position: relative;
  filter:grayscale(50%)
}

.text-overlay {
  position:absolute;
  top: 360px;
  right: 25px;
  color: #fffbfe;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#about, #work, #contact {
  margin-top: 25px;
}

.page-wrapper {
  width: 200px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 300px;
  padding-left: 150px;
  height: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #565254;
} 
 #about {
  background-color: aqua;  
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1 auto;
  justify-content: flex-start;
  align-content: space-around;
  align-items: flex-start;
  
}

#aboutContent {
  background-color: pink;  
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 3 auto;
  justify-content: flex-start;
  align-content: space-around;
  align-items: flex-start;
  border-left: 3px solid #565254;
  font-size: 14px;

}
#work {
  background-color: aqua;  
  display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: flex-start;
    border-right: 3px solid #565254;
}

#contact {
    background-color: pink;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: flex-start;
    border-right: 3px solid #565254;
}
h3 {
  border-right: 2px solid;
  width: 50%;
  font-size: larger;
  padding: 10px;

}


h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* display by default is going in a row
JUSTIFY-CONTENT change spacing of elements on main axis
ALIGN-ITEMS change the spacing of elements on the cross axis
*/

#example > section {
  background-color: white;
  padding: 10px;
  width:40%;
  display:flex;
  justify-content: space-evenly;
  /* color: white */

}

@media screen and (max-width:500px) {
  .header {
    background-color: yellow;
    flex-direction: column;
    align-items: center;
  }
  .header > section {
    width: 80%;
  }
}
/* NESW */
/* NS EW */
/* N E S W */


